---
---

- if disqus_shortname
  .comments
    #disqus_thread
    :javascript
      var disqus_shortname = '#{disqus_shortname}';

      // The following are highly recommended additional parameters. Remove the slashes in front to use.
      var disqus_url = '#{File.join(@config[:base_url], route_path(item))}';
      var disqus_identifier = '#{item[:created_at]}';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  
